body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: #000000;
  background-image: url("img/layer.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.inner-page {
  color: #000000;  
  background-color: #f9f6f3;
  background-image: url("img/shop-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: transparent;
}

.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000;
}

.inner-page .main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
  margin-bottom: 0;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-header-logo {
  margin-bottom: 78px;
  width: 368px;
  height: 153px;
  order: 1;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000;
}

.inner-page .main-navigation-wrapper {
  display: flex;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 620px;

  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  max-width: 140px;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}

.login-link::before {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;
  background: url("svg/login.svg") 0 0 no-repeat;
  top: 27px;
  left: 24px;

  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  width: 300px;

  text-align: center;
}

.feature-item b {
  margin: 0;
  margin-bottom: 60px;

  display: block;
  position: relative;

  font-size: 30px;
  line-height: 42px;
}

.feature-item b::after {
  position: absolute;
  content: "";

  bottom: -30px;
  left: calc(50% - 10px);

  width: 20px;
  height: 20px;
  background-color: #fff;

  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.index-columns {
  padding: 50px 80px;
  margin-bottom: 35px;

  display: flex;
  justify-content: space-between;

  color: #000000;  
  background-color: #f8f5f2;
  background-image: 
    url("img/vertical-line.png"),
    url("img/shop-pattern.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.news {
  width: 380px;
}

.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  height: 164px;
  
  overflow: hidden;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 285px;
  height: 164px;
}

.gallery-container {
  position: relative;
  height: 260px;
}

.gallery-button {
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding: 8px 17px 7px 15px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .button {
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;

  width: 8px;
  height: 8px;

  top: 7px;
  right: -25px;
  
  transform: rotate(45deg);
  background-color: #000000;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 180px;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.filters fieldset:first-child {
  margin-bottom: 35px;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;

  margin-bottom: 26px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}
.filter-input:disabled + label {
  color: #000;
  opacity: 0.5;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox {
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;

  left: -40px;
  top: 0;

  border: 2px solid #000;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;

  width: 12px;
  height: 12px;

  top: 4px;
  left: -36px;
  background: url("svg/cross.svg") 0 0 no-repeat;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;

  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 50%;

  left: -40px;
  top: -1px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 8px;

  top: 5px;
  left: -34px;

  background-color: #000;

  border-radius: 50%;
}

.catalog {
  width: 700px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-item {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 220px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  display: flex;
  flex-direction: column;
  color: #000;
}

.catalog-item h3 {
  order: 1;

  margin: 17px 15px 12px 16px;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item-price b {
  width: 112px;
  padding: 13px 25px 11px;

  background-color: #e5e5e5;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.catalog-item-price .button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;

  line-height: 20px;
  color: #fff;
}

.catalog-category {
  display: block;
  text-transform: none;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 20px;

  background-color: #000;
  color: #fff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  background-color: #fff;
  color: #000;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #fff;
  color: #000;
}

.product-photos {
  width: 460px;
}

.product-info {
  width: 390px;

  padding-top: 23px;
}

.product-info .product-price {
  display: flex;
  margin-bottom: 65px;
}

.product-photo-preview {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-photo-preview li {
  width: 140px;
  height: 150px;
  margin-right: 20px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li:nth-child(3n) {
  margin-right: 0;
}

.product-photo-full {
  width: 460px;
  height: 500px;
  margin: 0;
  margin-bottom: 20px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-description {
  display: flex;
  
  padding-right: 10px;
  margin-bottom: 30px;

  justify-content: space-between;
}

.product-description p {
  width: 200px;
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  width: 112px;
  padding: 13px 36px 11px;

  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
}

.product-price .button {
  padding-left: 17px;
  padding-right: 17px;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 27px;
}

.product-info ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.product-info li {
  position: relative;
  padding-left: 23px;
}

.product-info li::before {
  content: "";

  position: absolute;

  top: 7px;
  left: 2px;

  width: 8px;
  height: 8px;

  background-color: #000000;

  transform: rotate(45deg);
}

.product-info p {
  margin: 0;
}

.product-info .product-text {
  margin-bottom: 35px;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #ffffff;

  background-color: #212121;
  background-image: url("img/footer-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  margin: 0;
  margin-right: 80px;
  width: 320px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
  width: 145px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  list-style: none;

  margin: 0 auto;
  padding: 0;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  width: 43px;
  height: 43px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #fff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000;
}

.footer-copyright {
  margin: 0;
  margin-left: auto;
  text-align: center;
  width: 150px;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("img/shop-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}